header {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #6688FF;
  background-image: url("https://www.transparenttextures.com/patterns/paper-fibers.png");
}

h2 {
  color: azure;
  font-weight: normal;
}

@media only screen and (min-width: 1024px) {
  header {
    display: flex;
    float: left;
    width: 40%;
    margin: 5%;
  }
}