.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
/* compose tweet */
/* h2 {

} */

/* what are you humming about + text box*/
#tweet-text {
  width: 100%;
  height: 1.5em;
  border-bottom-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom-width: 0.1em;
  resize: none;
}

.button-and-counter {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  width: 100%;
}

button {
  background-color: #4056A1;
  color: #f4f1ec;
  font-family: 'Bungee', sans-serif;
  align-self: left;
}

.counter {
  font-family: 'Bungee', sans-serif;
  align-self: right;
}

.counter-neg {
  font-family: 'Bungee', sans-serif;
  color: #D00000;
  align-self: right;
}

/* button type submit: */